body {
  background-color: blue;
  background: linear-gradient(45deg, black, blue);

  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 10px;
  height: 60px;
  border: 1px white solid;
  background-color: white;
  margin: 2px;
  border-radius: 26%;

  animation: boxAni 0.7s linear infinite reverse;
}

@keyframes boxAni {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: scaleY(2);
  }
}

#square1 {
  animation-delay: 0.1s;
}
#square7 {
  animation-delay: 0.1s;
}
#square2 {
  animation-delay: 0.15s;
}

#square6 {
  animation-delay: 0.15s;
}
#square3 {
  animation-delay: 0.2s;
}
#square5 {
  animation-delay: 0.2s;
}
#square4 {
  animation-delay: 0.2s;
}
