header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: fixed;
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px;
}

header a:hover {
  background-color: black;
  color: white;
}
